.welcome-container {
  margin-bottom: 15px;
}

.welcome-header {
  font-size: 1.5em;
}

.nav-menu {

}

.menu-title {
  padding-right: 5px;
}

.menu-title:hover {
  cursor: pointer;
}

.dm-menu-title {
  padding-right: 5px;
}

.channels-menu {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  margin-left: 0;
}

.add-button {
  margin-right: 15px;
  cursor: pointer;
}

.channel-names {
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  margin-left: 0;
}

.delete-button {
  margin-right: 15px;
  cursor: pointer;
}

.channel-title {
  padding-right: 5px;
}

.channel-title:hover {
  cursor: pointer;
}
