<!DOCTYPE html>
<html>
<head>
  <title>Slamk</title>
  <link rel="icon" href="https://a.slack-edge.com/0180/img/icons/app-256.png" sizes="256x256" type="image/png">
  <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://npmcdn.com/react-select/dist/react-select.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
